In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from typing import List
import os
from utils.datapipe import to_snake_case, DataPipe
from utils.helper_funcs import unzip_directory
import requests
from bs4 import BeautifulSoup as BS
import re
from urllib.request import urlretrieve

plt.style.use('ggplot')

This notebook explores all 4 sets of data from Freddie Mac: 
1. non-standard origination data
2. standard origination data
3. non-standard time-series data
4. standard time-series data

The non-standard origination data and standard origination data will be combined--like wise for the time series data.

In [5]:
# dummy model = classification where you predict using a binom rvs where the threshold
# is the class %
# what metric = profit curves

# /home/austin/code/dsi/freddiemac_mortage_defaults/data
# nonstandard_mortgage_data/historical_data_excl_2005/historical_data_excl_2005Q1.zip

In [4]:
unzip_directory('../data/')

../data/standard_mortgage_data/historical_data_2000/historical_data_2000Q4.zip
../data/standard_mortgage_data/historical_data_2000/historical_data_2000Q2.zip
../data/standard_mortgage_data/historical_data_2000/historical_data_2000Q1.zip
../data/standard_mortgage_data/historical_data_2000/historical_data_2000Q3.zip
../data/standard_mortgage_data/historical_data_2018/historical_data_2018Q1.zip
../data/standard_mortgage_data/historical_data_2018/historical_data_2018Q2.zip
../data/standard_mortgage_data/historical_data_2018/historical_data_2018Q3.zip
../data/standard_mortgage_data/historical_data_2018/historical_data_2018Q4.zip
../data/standard_mortgage_data/historical_data_2008/historical_data_2008Q3.zip
../data/standard_mortgage_data/historical_data_2008/historical_data_2008Q2.zip
../data/standard_mortgage_data/historical_data_2008/historical_data_2008Q4.zip
../data/standard_mortgage_data/historical_data_2008/historical_data_2008Q1.zip
../data/standard_mortgage_data/historical_data_2003/historical_data_2003Q1.zip
../data/standard_mortgage_data/historical_data_2003/historical_data_2003Q2.zip
../data/standard_mortgage_data/historical_data_2003/historical_data_2003Q4.zip
../data/standard_mortgage_data/historical_data_2003/historical_data_2003Q3.zip
../data/standard_mortgage_data/historical_data_2019/historical_data_2019Q4.zip
../data/standard_mortgage_data/historical_data_2019/historical_data_2019Q1.zip
../data/standard_mortgage_data/historical_data_2019/historical_data_2019Q2.zip
../data/standard_mortgage_data/historical_data_2019/historical_data_2019Q3.zip
../data/standard_mortgage_data/historical_data_2013/historical_data_2013Q3.zip
../data/standard_mortgage_data/historical_data_2013/historical_data_2013Q4.zip
../data/standard_mortgage_data/historical_data_2013/historical_data_2013Q2.zip
../data/standard_mortgage_data/historical_data_2013/historical_data_2013Q1.zip
../data/standard_mortgage_data/historical_data_2010/historical_data_2010Q3.zip
../data/standard_mortgage_data/historical_data_2010/historical_data_2010Q4.zip
../data/standard_mortgage_data/historical_data_2010/historical_data_2010Q2.zip
../data/standard_mortgage_data/historical_data_2010/historical_data_2010Q1.zip
../data/standard_mortgage_data/historical_data_2006/historical_data_2006Q2.zip
../data/standard_mortgage_data/historical_data_2006/historical_data_2006Q4.zip
../data/standard_mortgage_data/historical_data_2006/historical_data_2006Q1.zip
../data/standard_mortgage_data/historical_data_2006/historical_data_2006Q3.zip
../data/standard_mortgage_data/historical_data_2002/historical_data_2002Q2.zip
../data/standard_mortgage_data/historical_data_2002/historical_data_2002Q4.zip
../data/standard_mortgage_data/historical_data_2002/historical_data_2002Q3.zip
../data/standard_mortgage_data/historical_data_2002/historical_data_2002Q1.zip
../data/standard_mortgage_data/historical_data_2007/historical_data_2007Q2.zip
../data/standard_mortgage_data/historical_data_2007/historical_data_2007Q4.zip
../data/standard_mortgage_data/historical_data_2007/historical_data_2007Q1.zip
../data/standard_mortgage_data/historical_data_2007/historical_data_2007Q3.zip
../data/standard_mortgage_data/historical_data_2015/historical_data_2015Q2.zip
../data/standard_mortgage_data/historical_data_2015/historical_data_2015Q3.zip
../data/standard_mortgage_data/historical_data_2015/historical_data_2015Q4.zip
../data/standard_mortgage_data/historical_data_2015/historical_data_2015Q1.zip
../data/standard_mortgage_data/historical_data_2016/historical_data_2016Q4.zip
../data/standard_mortgage_data/historical_data_2016/historical_data_2016Q2.zip
../data/standard_mortgage_data/historical_data_2016/historical_data_2016Q1.zip
../data/standard_mortgage_data/historical_data_2016/historical_data_2016Q3.zip
../data/standard_mortgage_data/historical_data_2004/historical_data_2004Q4.zip
../data/standard_mortgage_data/historical_data_2004/historical_data_2004Q1.zip
../data/standard_mortgage_data/historical_data_2004/historical_data_2004Q2.zip
../data/standard_mortgage_data/historical_data_2004/historical_data_2004Q3.zip
../data/standard_mortgage_data/historical_data_2011/historical_data_2011Q3.zip
../data/standard_mortgage_data/historical_data_2011/historical_data_2011Q1.zip
../data/standard_mortgage_data/historical_data_2011/historical_data_2011Q4.zip
../data/standard_mortgage_data/historical_data_2011/historical_data_2011Q2.zip
../data/standard_mortgage_data/historical_data_2009/historical_data_2009Q3.zip
../data/standard_mortgage_data/historical_data_2009/historical_data_2009Q2.zip
../data/standard_mortgage_data/historical_data_2009/historical_data_2009Q1.zip
../data/standard_mortgage_data/historical_data_2009/historical_data_2009Q4.zip
../data/standard_mortgage_data/historical_data_2017/historical_data_2017Q4.zip
../data/standard_mortgage_data/historical_data_2017/historical_data_2017Q3.zip
../data/standard_mortgage_data/historical_data_2017/historical_data_2017Q1.zip
../data/standard_mortgage_data/historical_data_2017/historical_data_2017Q2.zip
../data/standard_mortgage_data/historical_data_1999/historical_data_1999Q3.zip
../data/standard_mortgage_data/historical_data_1999/historical_data_1999Q1.zip
../data/standard_mortgage_data/historical_data_1999/historical_data_1999Q4.zip
../data/standard_mortgage_data/historical_data_1999/historical_data_1999Q2.zip
../data/standard_mortgage_data/historical_data_2012/historical_data_2012Q3.zip
../data/standard_mortgage_data/historical_data_2012/historical_data_2012Q4.zip
../data/standard_mortgage_data/historical_data_2012/historical_data_2012Q2.zip
../data/standard_mortgage_data/historical_data_2012/historical_data_2012Q1.zip
../data/standard_mortgage_data/historical_data_2020/historical_data_2020Q1.zip
../data/standard_mortgage_data/historical_data_2020/historical_data_2020Q3.zip
../data/standard_mortgage_data/historical_data_2020/historical_data_2020Q2.zip
../data/standard_mortgage_data/historical_data_2001/historical_data_2001Q2.zip
../data/standard_mortgage_data/historical_data_2001/historical_data_2001Q3.zip
../data/standard_mortgage_data/historical_data_2001/historical_data_2001Q1.zip
../data/standard_mortgage_data/historical_data_2001/historical_data_2001Q4.zip
../data/standard_mortgage_data/historical_data_2014/historical_data_2014Q3.zip
../data/standard_mortgage_data/historical_data_2014/historical_data_2014Q2.zip
../data/standard_mortgage_data/historical_data_2014/historical_data_2014Q4.zip
../data/standard_mortgage_data/historical_data_2014/historical_data_2014Q1.zip
../data/standard_mortgage_data/historical_data_2005/historical_data_2005Q2.zip
../data/standard_mortgage_data/historical_data_2005/historical_data_2005Q3.zip
../data/standard_mortgage_data/historical_data_2005/historical_data_2005Q1.zip
../data/standard_mortgage_data/historical_data_2005/historical_data_2005Q4.zip

In [2]:
origination_headers = ['CREDIT SCORE', 'FIRST PAYMENT DATE', 'FIRST TIME HOMEBUYER FLAG'
                      ,'MATURITY DATE', 'METROPOLITAN STATISTICAL AREA (MSA) OR METROPOLITAN DIVISION'
                      , 'MORTGAGE INSURANCE PERCENTAGE (MI %)', 'NUMBER OF UNITS'
                      , 'OCCUPANCY STATUS', 'ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)'
                      , 'ORIGINAL DEBT-TO-INCOME (DTI) RATIO', 'ORIGINAL UPB'
                      , 'ORIGINAL LOAN-TO-VALUE (LTV)', 'ORIGINAL INTEREST RATE'
                      , 'CHANNEL', 'PREPAYMENT PENALTY MORTGAGE (PPM) FLAG', 'AMORTIZATION TYPE'
                      , 'PROPERTY STATE', 'PROPERTY TYPE', 'POSTAL CODE', 'LOAN SEQUENCE NUMBER'
                      , 'LOAN PURPOSE', 'ORIGINAL LOAN TERM', 'NUMBER OF BORROWERS'
                      , 'SELLER NAME', 'SERVICER NAME', 'SUPER CONFORMING FLAG'
                      , 'Pre-HARP LOAN SEQUENCE NUMBER', 'PROGRAM INDICATOR', 'HARP INDICATOR'
                      , 'PROPERTY VALUATION METHOD', 'INTEREST ONLY INDICATOR (I/O INDICATOR)'
                      ]
time_series_headers = ['LOAN SEQUENCE NUMBER', 'MONTHLY REPORTING PERIOD'
                      ,'CURRENT ACTUAL UPB', 'CURRENT LOAN DELINQUENCY STATUS'
                      , 'LOAN AGE', 'REMAINING MONTHS TO LEGAL MATURITY'
                      , 'REPURCHASE FLAG', 'MODIFICATION FLAG'
                      , 'ZERO BALANCE CODE', 'CURRENT INTEREST RATE'
                      , 'CURRENT DEFERRED UPB', 'DUE DATE OF LAST PAID INSTALLMENT (DDLPI)'
                      , 'MI RECOVERIES', 'NET SALES PROCEEDS', 'NON MI RECOVERIES'
                      , 'EXPENSES', 'LEGAL COSTS', 'MAINTENANCE AND PRESERVATION COSTS'
                      , 'TAXES AND INSURANCE', 'MISCELLANEOUS EXPENSES'
                      , 'ACTUAL LOSS CALCULATION', 'MODIFICATION COST'
                      , 'STEP MODIFICATION FLAG', 'DEFERRED PAYMENT PLAN'
                      , 'ESTIMATED LOAN TO VALUE (ELTV)', 'ZERO BALANCE REMOVAL UPB'
                      , 'DELINQUENT ACCRUED INTEREST', 'DELINQUENCY DUE TO DISASTER'
                      , 'BORROWER ASSISTANCE STATUS CODE', 'CURRENT MONTH MODIFICATION COST'
                      ]

time_series_headers = to_snake_case(time_series_headers)
origination_headers = to_snake_case(origination_headers)

headers_dict = {'origination': origination_headers
               , 'time_series': time_series_headers}

In [8]:
dir_ = '../data'
for path_object in os.walk(dir_):
    folder = path_object[0]
    for file in path_object[2]:
        print(folder + '/' + file)

../data/historical_data_1999.txt
../data/origination_data/historical_data_2019Q3.txt
../data/origination_data/historical_data_excl_2019Q4.txt
../data/origination_data/historical_data_2019Q4.txt
../data/origination_data/historical_data_excl_2019Q2.txt
../data/origination_data/historical_data_excl_2019Q1.txt
../data/origination_data/historical_data_excl_2019Q3.txt
../data/origination_data/historical_data_2019Q1.txt
../data/origination_data/historical_data_2019Q2.txt
../data/time_series_data/historical_data_excl_time_2019Q3.txt
../data/time_series_data/historical_data_time_2019Q3.txt
../data/time_series_data/historical_data_time_2019Q1.txt
../data/time_series_data/historical_data_excl_time_2019Q1.txt
../data/time_series_data/historical_data_time_2019Q2.txt
../data/time_series_data/historical_data_excl_time_2019Q2.txt
../data/time_series_data/historical_data_excl_time_2019Q4.txt
../data/time_series_data/historical_data_time_2019Q4.txt

In [9]:
datapipe = DataPipe('../data/', headers_dict)

<generator object walk at 0x7f7a2fedae50>
('../data/', ['standard_mortgage_data', 'nonstandard_mortgage_data', 'origination_data', 'time_series_data'], ['historical_data_1999.txt'])
('../data/standard_mortgage_data', [], [])
('../data/nonstandard_mortgage_data', [], [])
('../data/origination_data', [], ['historical_data_2019Q3.txt', 'historical_data_excl_2019Q4.txt', 'historical_data_2019Q4.txt', 'historical_data_excl_2019Q2.txt', 'historical_data_excl_2019Q1.txt', 'historical_data_excl_2019Q3.txt', 'historical_data_2019Q1.txt', 'historical_data_2019Q2.txt'])

/home/austin/anaconda3/envs/dsienv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (26,28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

('../data/time_series_data', [], ['historical_data_excl_time_2019Q3.txt', 'historical_data_time_2019Q3.txt', 'historical_data_time_2019Q1.txt', 'historical_data_excl_time_2019Q1.txt', 'historical_data_time_2019Q2.txt', 'historical_data_excl_time_2019Q2.txt', 'historical_data_excl_time_2019Q4.txt', 'historical_data_time_2019Q4.txt'])

/home/austin/anaconda3/envs/dsienv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (7,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/austin/anaconda3/envs/dsienv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (3,7,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
datapipe.raw_data

{'time_series': Empty DataFrame
 Columns: []
 Index: [],
 'origination': Empty DataFrame
 Columns: []
 Index: []}

In [11]:
ns_time_series_df = pd.read_csv('../data/time_series_data/historical_data_excl_time_2019Q1.txt'
                         , sep='|', names=time_series_headers, index_col=False)

In [12]:
ns_time_series_df.head()

,loan_sequence_number,monthly_reporting_period,current_actual_upb,current_loan_delinquency_status,loan_age,remaining_months_to_legal_maturity,repurchase_flag,modification_flag,zero_balance_code,current_interest_rate,...,actual_loss_calculation,modification_cost,step_modification_flag,deferred_payment_plan,estimated_loan_to_value_(eltv),zero_balance_removal_upb,delinquent_accrued_interest,delinquency_due_to_disaster,borrower_assistance_status_code,current_month_modification_cost
0,A19Q10000001,201902,180000.0,0,0,360,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,49.0,NaN,NaN,NaN,NaN
1,A19Q10000001,201903,180000.0,0,1,359,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,47.0,NaN,NaN,NaN,NaN
2,A19Q10000001,201904,180000.0,0,2,358,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,47.0,NaN,NaN,NaN,NaN
3,A19Q10000001,201905,179000.0,0,3,357,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,46.0,NaN,NaN,NaN,NaN
4,A19Q10000001,201906,179000.0,0,4,356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,46.0,NaN,NaN,NaN,NaN

In [13]:
ns_time_series_df['current_loan_delinquency_status'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [17]:
ns_time_series_df.tail()

,loan_sequence_number,monthly_reporting_period,current_actual_upb,current_loan_delinquency_status,loan_age,remaining_months_to_legal_maturity,repurchase_flag,modification_flag,zero_balance_code,current_interest_rate,...,actual_loss_calculation,modification_cost,step_modification_flag,deferred_payment_plan,estimated_loan_to_value_(eltv),zero_balance_removal_upb,delinquent_accrued_interest,delinquency_due_to_disaster,borrower_assistance_status_code,current_month_modification_cost
77648,F19Q10281674,202102,192554.98,0,23,338,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN
77649,F19Q10281674,202103,192252.44,0,24,337,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN
77650,F19Q10281680,202101,230355.17,4,21,339,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77651,F19Q10281680,202102,230355.17,5,22,338,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,49.0,NaN,NaN,NaN,F
77652,F19Q10281680,202103,230355.17,6,23,337,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,49.0,NaN,NaN,Y,F

In [18]:
ns_time_series_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77653 entries, 0 to 77652
Data columns (total 30 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   loan_sequence_number                       77653 non-null  object
 1   monthly_reporting_period                   77653 non-null  int64
 2   current_actual_upb                         77653 non-null  float64
 3   current_loan_delinquency_status            77653 non-null  int64
 4   loan_age                                   77653 non-null  int64
 5   remaining_months_to_legal_maturity         77653 non-null  int64
 6   repurchase_flag                            2345 non-null   object
 7   modification_flag                          4 non-null      object
 8   zero_balance_code                          2345 non-null   float64
 9   current_interest_rate                      2345 non-null   float64
 10  current_deferred_upb                       77653 non-null  float64
 11  due_date_of_last_paid_installment_(ddlpi)  77653 non-null  float64
 12  mi_recoveries                              2312 non-null   float64
 13  net_sales_proceeds                         0 non-null      float64
 14  non_mi_recoveries                          0 non-null      float64
 15  expenses                                   0 non-null      float64
 16  legal_costs                                0 non-null      float64
 17  maintenance_and_preservation_costs         0 non-null      float64
 18  taxes_and_insurance                        0 non-null      float64
 19  miscellaneous_expenses                     0 non-null      float64
 20  actual_loss_calculation                    0 non-null      float64
 21  modification_cost                          0 non-null      float64
 22  step_modification_flag                     71 non-null     float64
 23  deferred_payment_plan                      4 non-null      object
 24  estimated_loan_to_value_(eltv)             69 non-null     object
 25  zero_balance_removal_upb                   68762 non-null  float64
 26  delinquent_accrued_interest                2345 non-null   float64
 27  delinquency_due_to_disaster                0 non-null      float64
 28  borrower_assistance_status_code            1320 non-null   object
 29  current_month_modification_cost            1471 non-null   object
dtypes: float64(19), int64(4), object(7)
memory usage: 17.8+ MB

In [20]:
for col in ns_time_series_df:
    print(ns_time_series_df[col].value_counts())

A19Q10000962    26
A19Q10000305    26
A19Q10000298    26
A19Q10000109    26
A19Q10000043    26
                ..
F19Q10096034     1
A19Q10000747     1
A19Q10002209     1
A19Q10001970     1
A19Q10000899     1
Name: loan_sequence_number, Length: 4087, dtype: int64
201905    3969
201906    3954
201907    3937
201904    3930
201908    3901
201909    3843
201910    3749
201911    3626
201912    3551
202001    3469
202002    3404
202003    3322
202004    3185
202005    3052
202006    2896
202007    2739
202008    2628
202009    2500
202010    2383
201903    2270
202011    2263
202012    2176
202101    2068
202102    1974
202103    1866
201902     998
Name: monthly_reporting_period, dtype: int64
0.00         2345
199000.00     229
149000.00     164
248000.00     149
200000.00     147
             ...
284913.31       1
258973.69       1
124739.44       1
351269.94       1
231538.42       1
Name: current_actual_upb, Length: 44090, dtype: int64
0     75774
1       629
2       275
3       210
4       147
5       124
6       110
7        89
8        79
9        68
10       57
11       49
12       30
13        5
14        3
15        2
16        2
Name: current_loan_delinquency_status, dtype: int64
2     3977
3     3962
4     3941
1     3939
5     3909
6     3854
7     3750
8     3654
9     3545
10    3468
0     3456
11    3403
12    3314
13    3212
14    3047
15    2899
16    2755
17    2624
18    2498
19    2370
20    2265
21    2156
22    2075
23    1960
24    1122
25     498
Name: loan_age, dtype: int64
358    3952
357    3937
356    3916
359    3912
355    3880
       ...
97        1
327       1
105       1
106       1
120       1
Name: remaining_months_to_legal_maturity, Length: 152, dtype: int64
N    2323
Y      22
Name: repurchase_flag, dtype: int64
Y    4
Name: modification_flag, dtype: int64
1.0    2323
6.0      22
Name: zero_balance_code, dtype: int64
202006.0    157
202005.0    156
202003.0    137
202007.0    134
202004.0    133
202008.0    131
202103.0    124
201910.0    122
202010.0    121
202009.0    117
202012.0    109
202102.0    108
201909.0     96
202101.0     94
202011.0     87
201912.0     82
202002.0     82
201911.0     78
202001.0     67
201908.0     60
201907.0     46
201906.0     36
201905.0     34
201904.0     24
201903.0      9
201902.0      1
Name: current_interest_rate, dtype: int64
3.875    9649
4.250    7951
4.375    7345
4.125    7263
4.000    6872
         ...
4.545      14
4.490      14
4.124      12
4.624      11
6.500      10
Name: current_deferred_upb, Length: 65, dtype: int64
0.00        77221
4436.56        10
10318.16       10
1528.29        10
1940.70        10
            ...
16041.12        1
28989.91        1
18376.20        1
7143.58         1
18104.84        1
Name: due_date_of_last_paid_installment_(ddlpi), Length: 77, dtype: int64
202005.0    160
202003.0    151
202006.0    147
202004.0    140
202007.0    129
202008.0    124
202009.0    121
202101.0    108
201909.0    106
202012.0    103
201910.0    102
202010.0    100
202102.0     98
202011.0     95
202002.0     90
202103.0     86
201908.0     85
202001.0     81
201912.0     76
201911.0     74
201907.0     50
201906.0     39
201905.0     31
201904.0      7
202104.0      6
202110.0      1
202105.0      1
201903.0      1
Name: mi_recoveries, dtype: int64
Series([], Name: net_sales_proceeds, dtype: int64)
Series([], Name: non_mi_recoveries, dtype: int64)
Series([], Name: expenses, dtype: int64)
Series([], Name: legal_costs, dtype: int64)
Series([], Name: maintenance_and_preservation_costs, dtype: int64)
Series([], Name: taxes_and_insurance, dtype: int64)
Series([], Name: miscellaneous_expenses, dtype: int64)
Series([], Name: actual_loss_calculation, dtype: int64)
Series([], Name: modification_cost, dtype: int64)
-20.66     1
 91.64     1
-36.06     1
-10.40     1
 118.56    1
          ..
 184.10    1
-29.40     1
 38.34     1
 235.36    1
 50.76     1
Name: step_modification_flag, Length: 71, dtype: int64
N    4
Name: deferred_payment_plan, dtype: int64
Y    69
Name: estimated_loan_to_value_(eltv), dtype: int64
75.0     1841
76.0     1745
74.0     1711
77.0     1703
73.0     1625
         ...
142.0       1
122.0       1
219.0       1
132.0       1
144.0       1
Name: zero_balance_removal_upb, Length: 144, dtype: int64
278000.00    5
399000.00    5
318000.00    5
480000.00    4
216000.00    4
            ..
158847.76    1
439636.78    1
469865.40    1
308458.79    1
385691.88    1
Name: delinquent_accrued_interest, Length: 2196, dtype: int64
Series([], Name: delinquency_due_to_disaster, dtype: int64)
Y    1320
Name: borrower_assistance_status_code, dtype: int64
F    1434
T      27
R      10
Name: current_month_modification_cost, dtype: int64