In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from utils.datapipe import to_snake_case, DataPipe, DataPipeOrigination

plt.style.use('ggplot')

In [2]:
datapipe = DataPipeOrigination('../data')

origination: historical_data_2018Q2.txt
origination: historical_data_2018Q1.txt

/home/austin/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (26,28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

origination: historical_data_2018Q3.txt
origination: historical_data_2018Q4.txt
origination: historical_data_2019Q1.txt
origination: historical_data_2019Q2.txt
origination: historical_data_2019Q3.txt
origination: historical_data_2019Q4.txt
origination: historical_data_2013Q1.txt
origination: historical_data_2013Q4.txt
origination: historical_data_2013Q2.txt
origination: historical_data_2013Q3.txt
origination: historical_data_2010Q3.txt
origination: historical_data_2010Q4.txt
origination: historical_data_2010Q1.txt
origination: historical_data_2010Q2.txt
origination: historical_data_2015Q3.txt

/home/austin/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (26,27,28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

origination: historical_data_2015Q2.txt
origination: historical_data_2015Q4.txt
origination: historical_data_2015Q1.txt
origination: historical_data_2016Q2.txt
origination: historical_data_2016Q4.txt
origination: historical_data_2016Q3.txt
origination: historical_data_2016Q1.txt
origination: historical_data_2011Q3.txt
origination: historical_data_2011Q4.txt
origination: historical_data_2011Q2.txt
origination: historical_data_2011Q1.txt
origination: historical_data_2017Q4.txt
origination: historical_data_2017Q2.txt
origination: historical_data_2017Q3.txt
origination: historical_data_2017Q1.txt
origination: historical_data_2012Q1.txt
origination: historical_data_2012Q4.txt
origination: historical_data_2012Q2.txt
origination: historical_data_2012Q3.txt
origination: historical_data_2020Q1.txt
origination: historical_data_2020Q3.txt
origination: historical_data_2020Q2.txt
origination: historical_data_2014Q3.txt
origination: historical_data_2014Q2.txt
origination: historical_data_2014Q1.txt
origination: historical_data_2014Q4.txt
origination: historical_data_excl_2019Q1.txt
origination: historical_data_excl_2019Q3.txt
origination: historical_data_excl_2019Q2.txt
origination: historical_data_excl_2019Q4.txt
origination: historical_data_excl_2013Q4.txt
origination: historical_data_excl_2013Q2.txt
origination: historical_data_excl_2013Q3.txt
origination: historical_data_excl_2013Q1.txt
origination: historical_data_excl_2015Q1.txt
origination: historical_data_excl_2015Q2.txt
origination: historical_data_excl_2015Q3.txt
origination: historical_data_excl_2015Q4.txt
origination: historical_data_excl_2011Q1.txt
origination: historical_data_excl_2011Q3.txt
origination: historical_data_excl_2011Q4.txt
origination: historical_data_excl_2011Q2.txt
origination: historical_data_excl_2012Q3.txt
origination: historical_data_excl_2012Q2.txt
origination: historical_data_excl_2012Q1.txt
origination: historical_data_excl_2012Q4.txt
origination: historical_data_excl_2017Q1.txt
origination: historical_data_excl_2017Q2.txt
origination: historical_data_excl_2017Q4.txt
origination: historical_data_excl_2017Q3.txt
origination: historical_data_excl_2020Q1.txt
origination: historical_data_excl_2020Q2.txt
origination: historical_data_excl_2020Q3.txt
origination: historical_data_excl_2010Q1.txt
origination: historical_data_excl_2010Q4.txt
origination: historical_data_excl_2010Q2.txt
origination: historical_data_excl_2010Q3.txt
origination: historical_data_excl_2014Q4.txt
origination: historical_data_excl_2014Q2.txt
origination: historical_data_excl_2014Q3.txt
origination: historical_data_excl_2014Q1.txt
origination: historical_data_excl_2016Q2.txt
origination: historical_data_excl_2016Q1.txt
origination: historical_data_excl_2016Q4.txt
origination: historical_data_excl_2016Q3.txt
origination: historical_data_excl_2018Q4.txt
origination: historical_data_excl_2018Q2.txt
origination: historical_data_excl_2018Q3.txt
origination: historical_data_excl_2018Q1.txt
time series: historical_data_time_2018Q2.txt

/home/austin/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (3,7,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

time series: historical_data_time_2018Q1.txt
time series: historical_data_time_2018Q3.txt
time series: historical_data_time_2018Q4.txt
time series: historical_data_time_2019Q1.txt
time series: historical_data_time_2019Q2.txt
time series: historical_data_time_2019Q3.txt
time series: historical_data_time_2019Q4.txt
time series: historical_data_time_2013Q1.txt

/home/austin/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (3,7,23,24,28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

time series: historical_data_time_2013Q4.txt

/home/austin/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (3,7,23,24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

time series: historical_data_time_2013Q2.txt
time series: historical_data_time_2013Q3.txt
time series: historical_data_time_2010Q3.txt
time series: historical_data_time_2010Q4.txt

/home/austin/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (3,7,23,24,28,29) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

time series: historical_data_time_2010Q1.txt
time series: historical_data_time_2010Q2.txt

/home/austin/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (3,7,22,23,24,28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

time series: historical_data_time_2015Q3.txt
time series: historical_data_time_2015Q2.txt
time series: historical_data_time_2015Q4.txt
time series: historical_data_time_2015Q1.txt

/home/austin/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (3,7,22,23,24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

time series: historical_data_time_2016Q2.txt
time series: historical_data_time_2016Q4.txt
time series: historical_data_time_2016Q3.txt
time series: historical_data_time_2016Q1.txt
time series: historical_data_time_2011Q3.txt
time series: historical_data_time_2011Q4.txt
time series: historical_data_time_2011Q2.txt
time series: historical_data_time_2011Q1.txt
time series: historical_data_time_2017Q4.txt
time series: historical_data_time_2017Q2.txt
time series: historical_data_time_2017Q3.txt
time series: historical_data_time_2017Q1.txt
time series: historical_data_time_2012Q1.txt
time series: historical_data_time_2012Q4.txt
time series: historical_data_time_2012Q2.txt
time series: historical_data_time_2012Q3.txt
time series: historical_data_time_2020Q1.txt
time series: historical_data_time_2020Q3.txt

/home/austin/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (24,28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

time series: historical_data_time_2020Q2.txt

/home/austin/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (7,23,24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

time series: historical_data_time_2014Q3.txt
time series: historical_data_time_2014Q2.txt
time series: historical_data_time_2014Q1.txt
time series: historical_data_time_2014Q4.txt
time series: historical_data_excl_time_2019Q1.txt
time series: historical_data_excl_time_2019Q3.txt

/home/austin/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (7,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

time series: historical_data_excl_time_2019Q2.txt
time series: historical_data_excl_time_2019Q4.txt
time series: historical_data_excl_time_2013Q4.txt
time series: historical_data_excl_time_2013Q2.txt
time series: historical_data_excl_time_2013Q3.txt
time series: historical_data_excl_time_2013Q1.txt
time series: historical_data_excl_time_2015Q1.txt
time series: historical_data_excl_time_2015Q2.txt
time series: historical_data_excl_time_2015Q3.txt
time series: historical_data_excl_time_2015Q4.txt
time series: historical_data_excl_time_2011Q1.txt
time series: historical_data_excl_time_2011Q3.txt
time series: historical_data_excl_time_2011Q4.txt
time series: historical_data_excl_time_2011Q2.txt
time series: historical_data_excl_time_2012Q3.txt
time series: historical_data_excl_time_2012Q2.txt
time series: historical_data_excl_time_2012Q1.txt
time series: historical_data_excl_time_2012Q4.txt
time series: historical_data_excl_time_2017Q1.txt
time series: historical_data_excl_time_2017Q2.txt

/home/austin/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

time series: historical_data_excl_time_2017Q4.txt
time series: historical_data_excl_time_2017Q3.txt
time series: historical_data_excl_time_2020Q1.txt
time series: historical_data_excl_time_2020Q2.txt
time series: historical_data_excl_time_2020Q3.txt

/home/austin/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (6,24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

time series: historical_data_excl_time_2010Q1.txt

/home/austin/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (3,24,28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

time series: historical_data_excl_time_2010Q4.txt
time series: historical_data_excl_time_2010Q2.txt
time series: historical_data_excl_time_2010Q3.txt
time series: historical_data_excl_time_2014Q4.txt
time series: historical_data_excl_time_2014Q2.txt
time series: historical_data_excl_time_2014Q3.txt
time series: historical_data_excl_time_2014Q1.txt
time series: historical_data_excl_time_2016Q2.txt
time series: historical_data_excl_time_2016Q1.txt
time series: historical_data_excl_time_2016Q4.txt
time series: historical_data_excl_time_2016Q3.txt
time series: historical_data_excl_time_2018Q4.txt
time series: historical_data_excl_time_2018Q2.txt
time series: historical_data_excl_time_2018Q3.txt
time series: historical_data_excl_time_2018Q1.txt

In [3]:
X = datapipe.X
X.to_csv('X.csv')

In [24]:
y = datapipe.y

In [13]:
np.sum(list(y.values()))

13085260

In [15]:
13085260/len(y)

0.6882914405282775

In [25]:
y = pd.Series(y).to_frame()

#y.to_csv('y.csv')

              0
F18Q20000001  1
F18Q20000002  1
F18Q20000003  1
F18Q20000004  1
F18Q20000005  1

In [30]:
y = y.rename(columns={y.columns[0]:'y'})
y.to_csv('y.csv')

In [24]:
X = datapipe.X
X.head()

,credit_score,first_payment_date,first_time_homebuyer_flag,maturity_date,metropolitan_statistical_area_(msa)_or_metropolitan_division,mortgage_insurance_percentage_(mi_%),number_of_units,occupancy_status,original_combined_loan-to-value_(cltv),original_debt-to-income_(dti)_ratio,...,original_loan_term,number_of_borrowers,seller_name,servicer_name,super_conforming_flag,pre-harp_loan_sequence_number,program_indicator,harp_indicator,property_valuation_method,interest_only_indicator_(i/o_indicator)
0,708,200512,Y,203511,NaN,0,1,P,103,39,...,360,1,Other sellers,U.S. BANK N.A.,NaN,NaN,9,NaN,9,N
1,781,200512,N,201211,NaN,0,1,P,85,49,...,84,2,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
2,732,200601,Y,203512,NaN,0,1,P,97,38,...,360,1,Other sellers,Other servicers,NaN,NaN,H,NaN,9,N
3,609,200511,Y,202010,24860.0,35,1,P,97,32,...,180,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
4,655,200512,N,203511,NaN,20,1,P,100,42,...,360,1,Other sellers,Other servicers,NaN,NaN,H,NaN,9,N

In [16]:
y = datapipe.y

In [22]:
len(y)

617723

In [27]:
X['target'] = X['loan_sequence_number'].map(y)

In [34]:
X_gb = X.groupby('loan_sequence_number')
name_ = 'A05Q10000001'
for name, group in X_gb:
    print(group[''])
    
    if name != name_:
        break

A05Q10000001

This notebook explores all 4 sets of data from Freddie Mac: 
1. non-standard origination data
2. standard origination data
3. non-standard time-series data
4. standard time-series data

The non-standard origination data and standard origination data will be combined--like wise for the time series data.

In [ ]:
# dummy model = classification where you predict using a binom rvs where the threshold
# is the class %
# what metric = profit curves

# /home/austin/code/dsi/freddiemac_mortage_defaults/data
# nonstandard_mortgage_data/historical_data_excl_2005/historical_data_excl_2005Q1.zip

In [26]:
origination_headers = ['CREDIT SCORE', 'FIRST PAYMENT DATE', 'FIRST TIME HOMEBUYER FLAG'
                      ,'MATURITY DATE', 'METROPOLITAN STATISTICAL AREA (MSA) OR METROPOLITAN DIVISION'
                      , 'MORTGAGE INSURANCE PERCENTAGE (MI %)', 'NUMBER OF UNITS'
                      , 'OCCUPANCY STATUS', 'ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)'
                      , 'ORIGINAL DEBT-TO-INCOME (DTI) RATIO', 'ORIGINAL UPB'
                      , 'ORIGINAL LOAN-TO-VALUE (LTV)', 'ORIGINAL INTEREST RATE'
                      , 'CHANNEL', 'PREPAYMENT PENALTY MORTGAGE (PPM) FLAG', 'AMORTIZATION TYPE'
                      , 'PROPERTY STATE', 'PROPERTY TYPE', 'POSTAL CODE', 'LOAN SEQUENCE NUMBER'
                      , 'LOAN PURPOSE', 'ORIGINAL LOAN TERM', 'NUMBER OF BORROWERS'
                      , 'SELLER NAME', 'SERVICER NAME', 'SUPER CONFORMING FLAG'
                      , 'Pre-HARP LOAN SEQUENCE NUMBER', 'PROGRAM INDICATOR', 'HARP INDICATOR'
                      , 'PROPERTY VALUATION METHOD', 'INTEREST ONLY INDICATOR (I/O INDICATOR)'
                      ]
time_series_headers = ['LOAN SEQUENCE NUMBER', 'MONTHLY REPORTING PERIOD'
                      ,'CURRENT ACTUAL UPB', 'CURRENT LOAN DELINQUENCY STATUS'
                      , 'LOAN AGE', 'REMAINING MONTHS TO LEGAL MATURITY'
                      , 'REPURCHASE FLAG', 'MODIFICATION FLAG'
                      , 'ZERO BALANCE CODE', 'CURRENT INTEREST RATE'
                      , 'CURRENT DEFERRED UPB', 'DUE DATE OF LAST PAID INSTALLMENT (DDLPI)'
                      , 'MI RECOVERIES', 'NET SALES PROCEEDS', 'NON MI RECOVERIES'
                      , 'EXPENSES', 'LEGAL COSTS', 'MAINTENANCE AND PRESERVATION COSTS'
                      , 'TAXES AND INSURANCE', 'MISCELLANEOUS EXPENSES'
                      , 'ACTUAL LOSS CALCULATION', 'MODIFICATION COST'
                      , 'STEP MODIFICATION FLAG', 'DEFERRED PAYMENT PLAN'
                      , 'ESTIMATED LOAN TO VALUE (ELTV)', 'ZERO BALANCE REMOVAL UPB'
                      , 'DELINQUENT ACCRUED INTEREST', 'DELINQUENCY DUE TO DISASTER'
                      , 'BORROWER ASSISTANCE STATUS CODE', 'CURRENT MONTH MODIFICATION COST'
                      ]

time_series_headers = to_snake_case(time_series_headers)
origination_headers = to_snake_case(origination_headers)

headers_dict = {'origination': origination_headers
               , 'time_series': time_series_headers}

print(headers_dict['origination'])

['credit_score', 'first_payment_date', 'first_time_homebuyer_flag', 'maturity_date', 'metropolitan_statistical_area_(msa)_or_metropolitan_division', 'mortgage_insurance_percentage_(mi_%)', 'number_of_units', 'occupancy_status', 'original_combined_loan-to-value_(cltv)', 'original_debt-to-income_(dti)_ratio', 'original_upb', 'original_loan-to-value_(ltv)', 'original_interest_rate', 'channel', 'prepayment_penalty_mortgage_(ppm)_flag', 'amortization_type', 'property_state', 'property_type', 'postal_code', 'loan_sequence_number', 'loan_purpose', 'original_loan_term', 'number_of_borrowers', 'seller_name', 'servicer_name', 'super_conforming_flag', 'pre-harp_loan_sequence_number', 'program_indicator', 'harp_indicator', 'property_valuation_method', 'interest_only_indicator_(i/o_indicator)']

In [ ]:
dir_ = '../data'
for path_object in os.walk(dir_):
    folder = path_object[0]
    for file in path_object[2]:
        if file[:-4] == '.txt':
            
        print(folder + '/' + file[-4:])

In [ ]:
datapipe = DataPipe('../data/', headers_dict)

In [ ]:
datapipe.raw_data

In [ ]:
datapipe.raw_data

In [ ]:
ns_time_series_df = pd.read_csv('../data/time_series_data/historical_data_excl_time_2019Q1.txt'
                         , sep='|', names=time_series_headers, index_col=False)

In [ ]:
ns_time_series_df.head()

In [ ]:
ns_time_series_df['current_loan_delinquency_status'].unique()

In [ ]:
ns_time_series_df.tail()

In [ ]:
ns_time_series_df.info()

In [ ]:
for col in ns_time_series_df:
    print(ns_time_series_df[col].value_counts())

In [ ]:
data/nonstandard_mortgage_data/historical_data_excl_2012/historical_data_excl_2012Q1

In [ ]:
paths = ['../data/nonstandard_mortgage_data/historical_data_excl_2012/historical_data_excl_2012Q1/historical_data_excl_time_2012Q1.txt'
        , '../data/nonstandard_mortgage_data/historical_data_excl_2012/historical_data_excl_2012Q2/historical_data_excl_time_2012Q2.txt'
        , '../data/nonstandard_mortgage_data/historical_data_excl_2012/historical_data_excl_2012Q3/historical_data_excl_time_2012Q3.txt'
        , '../data/nonstandard_mortgage_data/historical_data_excl_2012/historical_data_excl_2012Q4/historical_data_excl_time_2012Q4.txt']

header = headers_dict['time_series']


df_time_series = pd.DataFrame()
for relative_path in paths:
    df_time_series_appender = pd.read_csv(relative_path
                                      , names=header
                                      , index_col=False
                                      , sep='|')
    print(df_time_series_appender.head())
    df_time_series = df_time_series.append(df_time_series_appender)

In [ ]:
df_time_series.head()

In [ ]:
df_time_series.info()

In [ ]:
df_time_series.shape

In [ ]:
df_time_series['current_loan_delinquency_status'] = df_time_series['current_loan_delinquency_status'].apply(str)
val_cnt = df_time_series['current_loan_delinquency_status'].value_counts()
for i,v in zip(val_cnt.index, val_cnt.values):
    print (i,v)

In [ ]:
df_gb = df_time_series.groupby('loan_sequence_number')
df_gb.get_group('A12Q10000001').head()

In [ ]:
good_loan = 0
bad_loan = 0
for name, group in df_gb:
    if all(status in ['0', '1' , '2'] for status in group['current_loan_delinquency_status']):
        good_loan += 1
    else:
        bad_loan += 1

In [ ]:
print(good_loan, bad_loan)

In [ ]:
df_time_series['loan_age'].hist()